
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arizonia', cursive;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 5rem;
}


.memory-game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.memory-card {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.back-face, .front-face {
  position: absolute;
  width: 100%;
  height: 100%;
}

.back-face {
  background-position: center;
  background-size: cover;
}

.front-face {
  z-index: 999;
  background: rgb(255,255,255);
  border: 1px solid #daa520;
  border-radius: 10px;
}

.chosen .front-face{
  z-index: -1;
}

.found .front-face {
  z-index: -1;
}



/* Display */

#resultDisplay .baloon {
  max-width: 60px;
  display: block;
}

h1 {
  font-size: 1rem;
}

h1, h2 {
  color: goldenrod;
  text-align: center;
}

.baloon {
  position:relative;
  -webkit-animation:glide 2s ease-in-out alternate infinite;
}

@-webkit-keyframes glide  {
  from {
     left:0px;
     top:0px;
  }
  
  to {
     left:0px;
     top:40px;
  }

}


.header {
  margin: 2rem 0;
}



.wonState {
  display: none;
  margin: auto;
  position: absolute;
  top: 10rem;
  z-index: 999;
  left: 10%;
  background-color: rgba(245, 245, 245, .9);
  padding: 3rem .3rem;
  border: 1px solid #daa520;
  border-radius: 10px;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  text-align: center;
}

.wonState h2 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title {
  font-size: 2.4rem;
}

.textcont {
  padding: 5rem ;
}


.textcont p {
  font-size: 1.3rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

